body{
    font-family:"Plus Jakarta Sans",sans-serif !important;
    display: flex;
   flex-direction: column;
   min-height: 100vh;   
}

.container{
  flex:1;
}

.navbar{
    height:5rem;
    background-color: white;
}
 .fa-compass{
    color:#fe424d;
font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }
 .f-info-links a{
    text-decoration: none;
    color:black;
 }

  .f-info-links a:hover{
    text-decoration:underline;
    
 }
 .f-info{
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
 
 }

 .f-info-links,
 .f-info-socials,
 .f-info-brand{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
 }

  .f-info-socials i{
      font-size: 1.2rem;
    margin-right: 1rem;
 }
 .listing-card{
   border: none !important;
   margin-bottom: 2rem;
 }
 
 .card-img-top{
   border-radius:1rem !important;
   width: 100% !important;
   object-fit: cover;
 }
 .card-body{
   padding:0 !important;
 }
 .card-text p{
   font-weight: 400;
 }
 .listing-link{
   text-decoration: none;
 }
 /* .card-img-overlay{
   opacity:0;
 }
  .card-img-overlay:hover{
   opacity:0.2;
   background-color: white;
  } */

  .add-btn{
    background-color: cornflowerblue !important;
  }
  .edit-btn{
     background-color: cornflowerblue !important;
   
  }
  .show-img{
    height:30vh;
  }
.btns{
  display: flex;
    width: 10px;
  
}
.edit-btn{
 height:40px;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}
.review-card{
   flex-wrap: wrap;
   display: flex;
   gap:20px;
}

#map{
  height: 400px;
  width:60vw;
}
.reviews-container .card {
  border: none !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border-radius: 10px;
  padding: 10px;
}
.reviews-container:hover{
  color:green;
}


.stay-details {
  width: 90%;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.8;
}

.stay-details p {
  font-size: 16px;
  margin: 8px 0;
}

.stay-details .desc {
  font-size: 17px;
  margin-top: 12px;
}

.stay-details strong {
  color: #3d0c0c;
}

.stay-details hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.divider {
  margin: 25px 0;
  border-color: #888;
}

.stay-details h4 {
  color: #5b0a0a;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 25px;
}

#map {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  height: 300px; /* adjust as needed */
}

